ul { list-style-type: : none;
	padding; 0;
	margin: 0;

}




.square9 {
	width: ;
    height: ;
    background-color: blue;
    position: relative;
    top: 100px
    left: 100px

}


.square10 {
	width: ;
    height: ;
    background-color: blue;
    position: relative;
    top: 100px
    left: 100px

}


.square11 {
	width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 100px
    left: 200px

}