body{
height: 1500px;
    background: linear-gradient(to bottom, #cc99ff 0%, #660066 100%)
}


.h1block{
margin: 0 auto;
text-align: center;

}

h1{
	font-family: 'Poor Story', cursive;
	font-size: 60pt;
	color: rgba(230, 46, 0);
}


#zero{
	margin-left: 450px;
	position: absolute;
}





.head{
	height: 450px;
  width: 450px;
  background-color: rgba(196, 232, 237);
  border-radius: 50%;
}

.eyeball1{
	height: 200px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 50px;
  top: 100px;

}

.eyeball2{
	height: 180px;
  width: 160px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 180px;
  top: -30px;

}



.nose{

height: 80px;
  width: 80px;
  background-color: orange;
  border-radius: 50px;
  position: relative;
  left: -500px;
  top: 70px;

}


.triangle {
	width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 150px solid #c4e8ed;
	border-radius: 25px;
	transform: rotate(40deg);
	position: relative;
	left: 90px;
}


.mouth {
	height: 40px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  top: 80px;
  left: 200px
}


.zerobod {
	border-bottom: 370px solid #c4e8ed;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	height: 0;
	border-radius: 50px;
	width: 125px;
	transform: rotate(-60deg);
	position: relative;
	left: 100px;
	top: -120px;
}

.collar {
  height: 30px;
  width: 150px;
  background-color: red;
  position: relative;
  left: -20px;
  top: -20px;
}


.triangle2 {
	width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 150px solid #blue;
	transform: rotate(40deg);
	position: relative;
	
}

.circle1{
height: 80px;
  width: 200px;
  background-color: orange;
  border-radius: 50%;
  position: relative;
  left: -500px;
  top: 70px;
  transform: rotate(-70deg);


}