.body{
	font-size: 14pt;
	font-family: 'Gothic A1', sans-serif;
	text-align: center;
	max-width: 40vw;
	margin: auto;
	padding-top: 35px;
	padding-bottom: 35px;




}

body{
	background-color: rgba(255, 179, 218);
}

#container {
		max-width: 70vw;
		margin: 0 auto;
		background-color: red ;
		text-align: center; 
}	

.headline {
	width: 50vw;
	background-color: yellow ;
	margin: 40px;
	margin-left: -100px;
	
	
}



h1{
	font-size: 20pt;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 900;
	


}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.img2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;

}


.whiteblock{
	background-color: white;
	width: 40vw;
	margin-left: 130px;
	margin: 0 auto;
	

}


/*@media screen and (max-width: 767px) {
/* start of medium tablet styles */

@media screen and (min-width: 20vw) {
    .img2 {width: 200px; margin-left: -100px;}
    .whiteblock {margin-left: 20vw;}
}