.body{
	font-size: 14pt;
	font-family: 'Gothic A1', sans-serif;
	text-align: center;
	
	margin: auto;
	padding-top: 35px;
	padding-bottom: 35px;
}
.body2{
	font-size: 14pt;
	font-family: 'Gothic A1', sans-serif;
	margin: 0 auto;
	max-width: 20vw;
}
body{
	background-color: rgba(255, 179, 218);
}
#container {
		max-width: 768px;
		margin: 0 auto;
		background-color:  ;
		text-align: center; 
}	
#container2{
	margin-left: auto;
	margin-top: -80px;
	text-align: center;
}
#container3{
	margin-left: auto;
}
#container4{
	margin-left: auto;
}
/*@media screen and (max-width: 767px) {
/* start of medium tablet styles */
.headline {
	width: 50vw;
	background-color: ;
	margin: 0 auto;
	margin-top: 50px;

	
}
h1{
	font-size: 30pt;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 900;	
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    max-width: 800px;
}
.img2 {
	display: ;
  	margin: 0 auto;
  	margin-left: -400px;
}
.img2 img {
	width: 30%;
}
.img3 img {
	width: 50%;
	margin: 0 auto;
	margin-top: -200px;
}
.whiteblock{
	background-color: white;
	width: 25vw;
	top: -270px;
 	position: relative;
 	right: -80px;
 	margin: 0 auto;
 	padding-top: 10px;
 	padding-bottom: 10px;
}
@media only screen and (max-width: 900px) {
    .img2 {
    	margin: 0 auto;
    	margin-top: -100px;
    	min-width: 
    }
    .whiteblock {
    	
    }

