


h1{
	margin: 50px;
	text-align: center; 
	

}

body {
	



}


h2{
	font-family: 'Varela Round', sans-serif;
	font-size: 16pt;
	text-align: center;
	width: 100%;
	color: black;	
	width: 75%;
	margin: auto;
	line-height: 45px;	


}

h3{



}


a:link {
	text-decoration: none;
	color: silver;



}


a:hover {
	color: white;


}