@media only screen {
  and (min-device-width: 100px) 
  and (max-device-width: 480px)
.body{
	font-size: 20pt;
	font-family: 'Gothic A1', sans-serif;
	margin: 0 auto;
	text-align: left;
	max-width: 10vw;
}
.body2{
	font-size: 14pt;
	font-family: 'Gothic A1', sans-serif;
	margin: 0 auto;
	text-align: left;
}
body{
	 background: linear-gradient(to bottom right, #c4e8ed 18%, #ff99cc 81%);
}
#maincontainer {
		max-width: 1440px;
		margin: 0 auto;
		margin-left: 0 auto;
		background-color:  ;
		text-align: left; 
}	
#container2{
	margin: 0 auto;
	margin-left: 0 auto;
	text-align: left;
	background-color: ;
}
.whiteblock{
	background-color: white;
	width: 40%;
 	margin: 0 auto;
 
 	padding-bottom: 10px;
 	padding-left: 40px;
 	padding-right: 40px;
 	padding-top: 20px;
}
.img2 img {
	width: 70%;
	margin: 0 auto;
	margin-top: 90px;
}
h3{
	font-size: 27pt;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 300;
}
h2{
	font-size: 20pt;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 300;
	padding-left: 60px;
	padding-right: 60px;
}
#container3{
	margin-left: auto;
	margin
	background-color: ;
}

#container4{
	margin-left: 0 auto;
	margin-top: 0 auto;
	background-color: ;

}
.img4 img {
	width: 55%;
	margin: 0 auto;
	margin-top: 20px;

}
/*@media screen and (max-width: 767px) {
/* start of medium tablet styles */
#container1 {
	width: 50vw;
	background-color: ;
	margin: 0 auto;
	margin-top: 50px;

	
}
h1{
	font-size: 35pt;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 900;	
	margin-left: 100px;
	margin-right: 100px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    max-width: 900px;
    min-width: 30%;
}
.img3 img {
	width: 70%;
	margin: 0 auto;
	margin-top: 100px;
}

.whiteblock2{
	background-color: white;
	width: 40%;
 	margin: 0 auto;
 
 	padding-bottom: 10px;
 	padding-left: 40px;
 	padding-right: 40px;
 	padding-top: 20px;
}

}

	margin-top: -320px;
 	margin-left: 980px;
 	padding-top: 10px;

}