body{
    background: linear-gradient(to left, #ff99cc 0%, #3399ff 100%);

}
#maincontainer{
margin-top: 40px;
text-align: left;
margin-left: 0 auto;

}
#container1{
	margin: 0 auto;
	width: 50vw;
	margin: 0 auto;
	
}
h1{
	font-size: 36pt;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 900;	
	margin: 0 auto;
	margin-left: 0 auto;
	width: 70vw;
}
h2{
	font-size: 20pt;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 300;	
	margin: 0 auto;
	margin-left: 0 auto;
	width: 70vw;
}
.body{
	font-size: 18pt;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	text-align: left;
	max-width: 70vw;
	line-height: 30px;
	width: 60vw;
	line-height: 35px;

}
.body2{
	font-size: 14pt;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	text-align: left;
	width: 30vw;
}
img{
	margin: 0 auto;
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding-top: 20px;
	width: 70vw;
	margin-left: 30px;
	}
.img2 img{
	width: 35vw;
	margin-bottom: 100px;
	padding-left: ;
}
.img3 img{
	width: 45%;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: -200px;
}
.img4 img{
	width: 35%;
}
.whiteblock1{
	background-color: white;
	width: 37%;
 	position: relative;
 	left: 400px;
 	top: -300px;
 	padding-bottom: 10px;
 	padding-left: 20px;
 	padding-right: 20px;
 	padding-top: 20px;
}
.whiteblock2{
	background-color: white;
	width: 32%;
 	margin-top: -200px;
 	position: relative;
 	left: 468px;
 	padding-bottom: 10px;
 	padding-left: 20px;
 	padding-right: 20px;
 	padding-top: 20px;
}
@media screen and (max-width: 800px) {





	body{
				background: linear-gradient(to bottom right, #c4e8ed 18%, #ff99cc 81%); 

	}
	#container2{

	}
		.whiteblock1{
			margin: 0 auto;
			margin-left: -320px;
			margin-top: 270px;

		}
		.whiteblock2{
		 	margin: 0 auto;
		 	margin-left: -350px;
		 	margin-top: -50px;
		 	width: 37%;

		 }
		.img2 img{
		width: 60%;
		margin-bottom: -20px;
		margin-left: 50px;
		}
		.img3 img{
			width: 75%;
			margin-left: 50px;
			margin-right: 100px;
		}
		.img4 img{
			width: 70vw;
			margin: 0 auto;
			margin-left: 50px;
		}
		.body{
			font-size: 14pt;
		}
	
		@media screen and (max-width: 600px)

