h3{
	font-size: 18pt;
	font-family:  'Catamaran', sans-serif;
	margin-bottom: -10px;
}
h1{
	font-family:  'Catamaran', sans-serif;
}
h2{
	font-family:  'Catamaran', sans-serif;
	font-size: 20pt;
	margin-top: -20px;
}
body{
	background-color: rgba(230, 230, 230);
}