body{


}

h1{text-align: center;
	margin: 50px;
	margin-bottom: -200px;


}

h2{
   margin-left: -1200px;
   margin-top: 200px;
   position: sticky;
   top: 350px;
   left: 300px;
   text-align: center;
   transform: rotate(-90deg);
   	font-family: 'K2D', sans-serif;

   

}

h3{text-align: center;


}

h4{text-align: center;
	margin-top: -50px;
	margin: auto;
	font-size: 18px;
	font-family: 'K2D', sans-serif;
	width: 80%;
	text-align: center;
	

}

.block1{
	background: white

}