body{


}

h1 {
	font-size:28pt;
	margin: auto;
	margin-top: 30px;
	width: 400px;
	margin-left: 60px;
	font-family: 'Playfair Display', serif;
	color: white;
	font-weight: bold;


}

h2 {
	font-family: 'Playfair Display', serif;
	margin-left: 50px;
	text-decoration: underline;


	
}

h4{
font-family: 'Playfair Display', serif;
	margin-left: 50px;
	margin-top: 20px;
	width: 45%;

}
.h1block{
	background-color: rgba(255, 51, 51);
	width: 100%;
	height: 200px;
	padding: 10px;
	margin-left: 30px;
}


.h4block{
	background-color: white;
	width: 600px;
	height: 800px;
	display: inline-block;
	margin-left: 30px;
	padding: 20px;

}

.h2block{
	background-color: white;
	width: 200px;
	height: 100px;
	display: inline-block;
	margin-left: 30px;
	padding: 20px;

}




.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}