body{


}

h1 {
	font-size: 25pt;
	margin: auto;
	margin-top: 30px;
	width: 475px;
	margin-left: 200px;
	font-family: 'K2D', sans-serif;
	color: black;

}

.h1block{
	background-color: rgba(153, 179, 255);
	width: 500px;
	height: 400px;
}


h2 {
	font-family: 'K2D', sans-serif;
	position: absolute;
	left: -180px;
	transform: rotate(-90deg);
}

.h2block{
	background-color: rgba(153, 179, 255);
	width: 500px;
	height: 100px;
	display: inline-block;

}

h4{
	font-family: 'K2D', sans-serif;
	margin-left: 200px;
	margin-top: 20px;
	width: 45%;

}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}