body{


}

h1 {
	font-size: 14pt;
	margin: ;
	margin-top: 300px;
	width: 300px;
	margin-left: -50px;
	font-family: 'Work Sans', sans-serif;
	color:white;
	font-weight: bold;
	text-decoration: underline;
	transform: rotate(90deg);





}

h2 {
	font-family: 'Work Sans', sans-serif;
	margin-left: 100px;
	margin-top: -1000px;
	margin-bottom: -85px;
	font-size: 16pt;
	font-weight: bold;

	width: px;



	
}



h3 {
	font-family: 'Work Sans', sans-serif;
	margin-left: 50px;
	font-size: 50pt;
	font-weight: bold;
	line-height: 63px;




}


h4{
	font-family: 'Work Sans', sans-serif;
	margin-left: 50px;
	margin-top: -30px;
	width: 30%;
	display: inline-block;

}


sup {

	font-size: smaller;
	vertical-align: super;
	;
}

.h1block{
	background-color: rgb(0, 0, 128);
	width: 200px;
	height: 1000px;
	padding: 10px;
	margin-left: 1000px;
	display:inline-block;
}


.h4block{
	background-color: rgba(255, 51, 51);
	width: 600px;
	height: 800px;
	display: inline-block;
	margin-left: -200px;
	padding: 20px;
	position: absolute;
	top: 10px;
}

.h2block{
	background-color: white;
	width: 200px;
	height: 100px;
	display: inline-block;
	margin-left: 30px;
	padding: 20px;

}

a {
	color: black;
}




