body{
	font-family: 'Oxygen', sans-serif;
	margin: 0;
}
#maincontainer{
width: 100vw;
height: 2000px;
background-color: 
}
h1{
	margin-left: 50px;
}
.words h6{
font-family: 'Oxygen', sans-serif;
font-size: 40pt;
color: white;
position: absolute;
top: 380px;
left: 40px;
}
p{
	margin-top: 5px;
}
#container2{
background-color: 
width: 1100px;
height: 500px;
margin-left: 80px;
margin-top: -250px;
}
.desktop-nav{
	margin-top: -20px;
	margin-right: 90px;
}
.mobile-nav {
	display: none;
	/*background-color: blue;*/
}
.nav, li{
float: right;
margin-bottom: 10px; 
}
.expand{
	margin-bottom: 10px;
}
ul{
	margin: 0;
}
li{
	padding: 0 25px;
	list-style: none;
}
h3{
font-family: 'Oxygen', sans-serif;
font-size: 14pt;
float: right;
margin-right: 200px;
margin-top: -420px;
width: 600px;
line-height: 30px;
color: rgba(140, 140, 140);
font-weight: 400;
}
h4{
font-family: 'Oxygen', sans-serif;
font-size: 14pt;
margin-top: -40px;
margin-left: 100px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: red;
}
.redrectangle{
	width: 100vw;
	height: 400px;
	margin-bottom: 40px;
	margin-top: 100px;
	position: absolute;
	background: url(../imgs/DSC_0644_edit2.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(51, 133, 255);
}
.img2 img{
	width: 25%;
	position: absolute;
	left: 40%;
	bottom: 0px;
	opacity: .5;
}
.img3 img{
	width: 60%;
	height: auto;
	position: absolute;
	left: 30%;
}
.img4 img{
	width: 25%;
	height: auto;
	height: 10%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 240px;
}
div.gallery2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 740px;
    height: auto;
    position: absolute;
    top: 700px;
    left: 200px;
}

div.gallery:hover {
    border: 1px solid #777;

}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.all{
	width: 1000px;
	margin: 0 auto;
	margin-top: 1330px;
	margin-left: 200px;
}

/*mobile responsive*/
.responsive {
    padding: 0 6px;
    float: left;
    
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
        margin-left: -40px;
    }
}

@media only screen and (max-width: 550px) {
    .responsive {
        width: 100%;
        margin-left: -40px;
    }
    .redrectangle{
    	width: 500px;
    }
    div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 90vw;
}
	div.all{
   	margin-left: 75px;
   }
}

/*mobile menu nav*/
@media only screen and (max-width: 768px) {
	.mobile-nav {
		display: block;
		margin-left: 10px;
		
	}
	.hide-nav {display: none;}
	li {float: none;}
	.desktop-nav {display: none;}
}

