body{
	font-family: 'Oxygen', sans-serif;
	margin: 20px;
}
p{
	margin-top: 5px;
}
#maincontainer{
width: 100vw;
height: 2000px;
background-color: 
margin-bottom: -10px;
}
#container{
}
.desktop-nav{
	margin-top: -30px;
}
.headers{
	float: left;
	position: absolute;
}
.nav, li{
float: right;
margin-right: 90px; 
}
a{
	text-decoration: none;
	color: black;
	font-size: 18pt;
}
a.class2{
	text-decoration: none;
	color: white;
	font-size: 40pt;
	position: absolute;
	bottom: -500px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}
a.class3{
	text-decoration: none;
	color: white;
	font-size: 40pt;
	position: absolute;
	bottom: -1000px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}
a.class4{
	text-decoration: none;
	color: white;
	font-size: 40pt;
	position: absolute;
	bottom: -1500px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}
a.class5{
	text-decoration: none;
	color: white;
	font-size: 40pt;
	position: absolute;
	bottom: -1500px;;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}
a:hover{
	color: red;
}
h1{
	margin: 20px;
	font-size: 35pt;
	line-height: 60px;
}
h2{
	margin: 20px;
	font-size: 24pt;
	color: white;
}
h4{
font-family: 'Oxygen', sans-serif;
font-size: 16pt;
margin: -10px;
}
ul{
	margin: 0;
}
li{
	padding: 0 25px;
	list-style: none;
}
ul.a{
	list-style-type: circle;
	float: left;
}
.img1 img{
	width:100vw;
	margin-top: 40px;
	position: absolute;
	left: 0;
}
.img2 img{
	width: 19.5%;
	height: auto;
	position: absolute;
	left: 700px;
	bottom: -500px;
	opacity: .7;
}
.img3 img{
	width: 12.5%;
	height: auto;
	position: absolute;
	left: 800px;
	bottom: -1000px;
	opacity: .7;
}
.img4 img{
	width: 38%;
	height: auto;
	position: absolute;
	left: 500px;
	bottom: -1500px;
	opacity: .7;
}
.img5 img{
	width: 30%;
	height: auto;
	position: absolute;
	left: 650px;
	bottom: -1500px;
	opacity: .7;
}
.redrectangle{
	width: 100vw;
	height: 400px;
	position: absolute;
	margin: 0 auto;
	bottom: -690px;
	left: 0px;
	background: url(../imgs/DSC_0681_edit.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: tomato;
}
.bluerectangle{
	width: 100vw;
	height: 400px;
	position: absolute;
	margin: 0 auto;
	bottom: -1170px;
	left: 0px;
	background: url(../imgs/DSC_0644_edit2.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(51, 133, 255);
}
}
.grayrectangle{
	width: 100vw;
	height: 400px;
	position: absolute;
	margin: 0 auto;
	bottom: -1270px;
	left: 0px;
	background: url(../imgs/DSC_0695.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(179, 179, 179);
}
.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: white;
    margin-top: -14px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: blue;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: red;}




.rotate{
	transition: transform .9s ease-in-out;
	transform: rotate(360deg);
}