body{
	font-family: 'Oxygen', sans-serif;
	margin: 20px;
}
p{
	margin-top: 5px;
}
#maincontainer{
width: 100vw;
background-color: ;

}
.header{

}

.desktop-nav{
	margin-top: -30px;
}
.mobile-nav {
	display: none;
	/*background-color: blue;*/
}
.headers{
	float: left;
	position: absolute;
}
.nav, li{
float: right;
margin-right: 90px; 
}
a{
	text-decoration: none;
	color: black;
	font-size: 18pt;
}
a.class2{
	text-decoration: none;
	color: white;
	font-size: 40pt;
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}
a.class3{
	text-decoration: none;
	color: white;
	font-size: 40pt;
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}
a.class5{
	text-decoration: none;
	color: white;
	font-size: 40pt;
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}
a:hover{
	color: red;
}
h1{
	margin: 20px;
	font-size: 35pt;
	line-height: 60px;
}
h2{
	margin: 20px;
	font-size: 24pt;
	color: white;
}
h4{
font-family: 'Oxygen', sans-serif;
font-size: 16pt;
margin: -10px;
}
ul{
	margin: 0;
	margin-bottom: 30px;
}
li{
	padding: 0 25px;
	list-style: none;
}
ul.a{
	list-style-type: circle;
	float: left;
}
.img1 img{
	max-width: 100%;
	min-width: 90%;
	height: auto;
	margin: 0;
	margin-top: 100px;

}
.img2 img{
	width: 19.5%;
	height: auto;
	position: absolute;
	left: 700px;
	bottom: -500px;
	opacity: .7;
}
.img3 img{
	width: 12.5%;
	height: auto;
	position: absolute;
	left: 800px;
	bottom: -1000px;
	opacity: .7;
}
.img4 img{
	width: 38%;
	height: auto;
	position: absolute;
	left: 500px;
	bottom: -1500px;
	opacity: .7;
}
.img5 img{
	width: 30%;
	height: auto;
	position: absolute;
	left: 650px;
	bottom: -1500px;
	opacity: .7;
}
.redrectangle{
	width: 100vw;
	height: 400px;
	position: relative;
	/*bottom: -1100px;*/
	/*left: 0px;*/
	margin-bottom: 25px;
	margin-top: 25px;
	background: url(../imgs/DSC_0681_edit.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: tomato;
}	
.bluerectangle{
	width: 100vw;
	height: 400px;
	position: relative;
	margin-bottom: 25px;
	background: url(../imgs/DSC_0644_edit2.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(51, 133, 255);
}
.grayrectangle{
	width: 100vw;
	height: 400px;
	position: relative;
	margin-bottom: 25px;
	background: url(../imgs/DSC_0695_edit.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(179, 179, 179);
}
@media only screen and (max-width: 550px) {
    .responsive {
        width: 100%;
        margin-left: -40px;
    }
}
@media only screen and (max-width: 768px) {
	.mobile-nav {
		display: block;
		margin-left: 10px;
		line-height: 40px;
	}
	.hide-nav {display: none;}
	li {float: none;}
	.desktop-nav {display: none;}
}
