


h1{
	margin: 50px;
	text-align: center;
		font-family: 'Varela Round', sans-serif;
 
	

}

body {
	



}



a {
	text-decoration: none;
	color: blue;

}



a:hover {
	text-decoration: underline;
	color: rgba(51, 51, 255);
	


}



a.class2 {
	text-decoration: none;
	color: blue;
	

}

a.class2:hover{
	text-decoration: none;
	color: blue;

}



h2{
	font-family: 'Varela Round', sans-serif;
	font-size: 16pt;
	width: 60%;
	color: black;
	text-align: center;	
	margin: auto;
	line-height: 40px;


}

h3 {
	margin: 10px;
	margin-top: -40px;
	margin-bottom: 40px;
	text-align: center; 
	font-style: italic;
	font-size: 16pt;
		font-family: 'Varela Round', sans-serif;

}






