


h1{
	margin: 50px;
	text-align: center;
		font-family: 'Varela Round', sans-serif;
 
	

}

body {
	



}



a {
	text-decoration: none;
	color: blue;

}



a:hover {
	text-decoration: underline;
	color: blue;
	


}



a.class2 {
	text-decoration: none;
	color: white;
	

}

a.class2:hover{
	text-decoration: none;
	color: white;

}



h2{
	font-family: 'Varela Round', sans-serif;
	font-size: 16pt;
	width: 60%;
	color: black;
	text-align: center;	
	margin: auto;
	line-height: 40px;


}

h3 {
	position: sticky;
	margin: 30px;
	top: 60px;
	text-align: center; 
	font-style: italic;
	font-size: 16pt;
	font-family: 'Varela Round', sans-serif;

}






