


h1{
	margin: 50px;
	text-align: center; 
	

}

body {
	



}



a {
	text-decoration: none;
	color: silver;
}



a:hover {
	text-decoration: none;
	color: yellow;
	font-size: 20pt;


}



a.class2 {
	text-decoration: none;
	color: silver;
	font-size: 16pt;

}

a.class2:hover{
	font-size: 14pt;
	color: rgba(51, 51, 51);

}



h2{
	font-family: 'Varela Round', sans-serif;
	font-size: 16pt;
	width: 60%;
	color: black;
	text-align: center;	
	margin: auto;
	line-height: 40px;


}

h3 {
	margin: 10px;
	margin-top: -40px;
	margin-bottom: 40px;
	text-align: center; 
	font-style: italic;
	font-size: 16pt;
}






