body{
	font-family: 'Oxygen', sans-serif;
	margin: 0;
}
#maincontainer{
width: 100vw;
height: 2000px;
background-color: 
}
h1{
	margin-left: 50px;
}
.words h6{
font-family: 'Oxygen', sans-serif;
font-size: 40pt;
color: white;
position: absolute;
top: 380px;
left: 40px;
}
p{
	margin-top: 5px;
}
#container2{
background-color: 
width: 1100px;
height: 500px;
margin-left: 80px;
margin-top: -250px;
}
.desktop-nav{
	margin-top: -20px;
	margin-right: 90px;
}
.mobile-nav {
	display: none;
	/*background-color: blue;*/
}
.nav, li{
float: right;
margin: 
}
ul{
	margin: 0;
}
li{
	padding: 0 25px;
	list-style: none;
}
h3{
font-family: 'Oxygen', sans-serif;
font-size: 14pt;
float: right;
margin-right: 200px;
margin-top: -420px;
width: 600px;
line-height: 30px;
color: rgba(140, 140, 140);
font-weight: 400;
}
h4{
font-family: 'Oxygen', sans-serif;
font-size: 14pt;
margin-top: -40px;
margin-left: 100px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: red;
}
.box{
margin: 0;
width: 40vw;
line-height: 25px;
position: absolute;
left: 600px;
right: 600px;
top: 750px;
bottom: 750px;
color: black;
}
.box2{
margin: 0;
width: 40vw;
font-weight: 700;
line-height: 25px;
position: absolute;
left: 600px;
right: 600px;
top: 1200px;
color: black;
}
.box3{
margin: 0;
width: 28vw;
font-weight: 400;
line-height: 35px;
margin-left: 600px;
margin-top: 670px;
color: rgba(191, 191, 191);
}
.tab{
	margin-left: 50px;
}
.redrectangle{
	width: 100vw;
	height: 400px;
	margin-bottom: 40px;
	margin-top: 100px;
	position: absolute;
	background: url(../imgs/DSC_0695_edit.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(179, 179, 179);
}
.img2 img{
	width: 44%;
	position: absolute;
	left: 27%;
	bottom: 0px;
	opacity: .7;
}
.img3 img{
	width: 25%;
	position: absolute;
	left: 15%;
	margin-top: 100px;
}
.img4 img{
	width: 25%;
	height: 10%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 340px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}
div.gallery2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 530px;
    height: auto;
    position: absolute;
    top: 700px;
    left: 350px;
}
div.gallery3 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 530px;
    height: auto;
    position: absolute;
    top: 1800px;
    left: 350px;
}
div.desc {
    padding: 15px;
    text-align: center;
}
div.all{
	width: 1000px;
	margin: 0 auto;
	margin-top: 430px;
	margin-left: 300px;
}

/*mobile responsive*/
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

/*mobile menu nav*/
@media only screen and (max-width: 768px) {
	.mobile-nav {
		display: block;
		margin-left: 10px;
		
	}
	.hide-nav {display: none;}
	li {float: none;}
	.desktop-nav {display: none;}

}